[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/LodePNG"]
	path = External/LodePNG
	url = https://github.com/lvandeve/lodepng.git
[submodule "External/Eigen"]
	path = External/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "External/cereal"]
	path = External/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "External/fmt"]
	path = External/fmt
	url = https://github.com/fmtlib/fmt.git
